extends layout

block content
  .container.mt-5.pt-5
    style.
      h1, h2, p {
        font-size: 1.2rem;
      }
      h1 {
        margin-bottom: 1.5rem;
      }
    h3 Unsere Supporter
    .row
      .col-md-3
        img(src='/images/eddy.png', alt='Eddy', width='200', height='200')
      .col-md-9
        h2 Eddy
        p Eddy ist unser erster Supporter und immer bereit, dir zu helfen. Er hat immer einen Witz auf Lager und bringt selbst in den stressigsten Situationen ein Lächeln auf dein Gesicht. Aber Vorsicht, manchmal sind seine Witze so schlecht, dass sie schon wieder gut sind!
        a.btn.btn-primary(href='https://www.youtube.com/watch?v=dQw4w9WgXcQ', target='_blank') Kontakt
    .row
      .col-md-3
        img(src='/images/max.jpeg', alt='Max', width='200', height='200')
      .col-md-9
        h2 Max
        p Max ist unser zweiter Supporter und ein echter Schelm. Er liebt es, den Code anderer Leute kaputt zu machen, aber keine Sorge, er weiß auch, wie man ihn wieder repariert. Mit Max an deiner Seite wird es nie langweilig und du lernst immer etwas Neues. Übrigens, falls du dich fragst, warum Max auf seinem Bild nicht lächelt - auf Passbildern darf man nicht lächeln!
        a.btn.btn-primary(href='https://www.youtube.com/watch?v=dQw4w9WgXcQ', target='_blank') Kontakt
