/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

a {
  color: #00B7FF;
}

.chart-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  /* Teilt den Container in drei Spalten auf */
  grid-gap: 10px; /* Abstand zwischen den Elementen */
  margin-top: 60px; 
  padding: 20px;
  border: 1px;
}

.chart1 {
  grid-column-start: 1;
  position: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  height: 25em;
  /* border: 2px;
  border-style: double;
  border-color: #506972;
  border-radius: 5px; */
}
.chart1details {
  grid-column-start: 1;
  position: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: start;
  height: 25em;
}

.chart2 {
  grid-column-start: 2;  /* Beginnt in der zweiten Spalte */
  position: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 25em;
  border: 2px;
  border-style:double;
  border-color: #506972;
  border-radius: 5px;
  box-shadow: #506972;
}
.chart2details {
  grid-column-start: 2; /* Beginnt in der zweiten Spalte */
  grid-row:unset;  
  position: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  height: 25em;
  border: 2px;
  border-style:double;
  border-color: #506972;
  border-radius: 5px;
}

.chart3 {
  grid-column-start: 3;  /* Beginnt in der dritten Spalte */
  position: flex;
  flex-direction: row;
  justify-content: center;
  height: 25em;
  border: 2px;
  border-style: double;
  border-color: #506972;
  border-radius: 5px;
}
.chart3details {
  grid-column-start: 3;  /* Beginnt in der dritten Spalte */
  position: flex;
  flex-direction: row;
  justify-content: center;
  height: 50rem;
  border: 2px;
  border-style: double;
  border-color: #506972;
  border-radius: 5px;
}

.image{
  height: 450px;
  width: 450px;
}
.img{
  max-height: 300px;
  max-width: 300px;
  margin: 20px;
  border-radius: 20px;
}